@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main-box {
  border: 3px solid rgb(14,3,55);
  border-radius: 8px;
  background-color: rgba(14,3,55,0.7);
  padding-top: 10px;
  padding-bottom: 10px;
  width:98%;
}

.all-text {
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  font-family: 'Indie Flower', cursive;
}

.player-level {
  font-size: 40px;
  color: #ffffff;
}

.player-wallet {
  color:#ffffff
}